<div class="table-actions">
  <select class="table-actions__select" [(ngModel)]="selectValue">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <button class="table-actions__btn" type="button" (click)="addElem()">Добавить элемент!</button>
</div>
<ng-container *ngFor="let row of rows">
  <div class="table-row">
    <ng-container *ngFor="let cell of row">
      <div class="table-cell">YACHEYKA!</div>
    </ng-container>
  </div>
</ng-container>